.header {
  margin-top: 100px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #ebb62f;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.tweet-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-image {
    max-width: 175px;
    max-height: 175px;
  }
  
.user-name {
    font-size: 1.5rem;
  }
  
.handle{
    float: right;
  }

/* CSS for medium screens (tablets) */
@media (max-width: 1023px) {
.header {
  height: 50vh; 
  width: 200dvh; 
}
nav {
  background-color: #ebb62f; 
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

}
}