nav {
    height: 120px;
    width: 100vw;
    background-color: #4056A1;
    color: #FFFFFF;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
  }
.right-content {
    position: absolute;
    right: 0;
    color: #FFFFFF;
    padding-right: 1.5em;
    text-align: center;
    margin-left: 10px;

  }
  .fa-solid {
    color: rgb(147, 19, 44);
    
  }